extends ../layouts/common
block content
  h1 search here :
  form(action="/users/search", method="GET")
    .form-group
      input.form-control(type="text", name="q", value=q)
      button.btn.btn-primary search

  table.table
    tr
      th(scope='col') Name
      th(scope='col') Phone
      th(scope='col') Action
    each value in users
        tr
          td= value.name
          td= value.phone
          td
            a.btn.btn-primary(href="/users/" + value.id) View
